/* 共通部分 */
header {
  background-color: #4169E1;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.5);
}
h1 {
  font-size: 20px;
  color: #f8fafc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none;
  color: #444444;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.show__link {
  color: #3490dc;
}
.header__links {
  list-style: none;
}
.header__link {
  margin: 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ナビゲーション */
.nav-unshown {
  display: none;
}
#nav-open {
  display: flex;
  height: 6vh;
  width: 60%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
#nav-open span,
#nav-open span:before,
#nav-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #f8fafc;
  transition: 0.5s;
  position: absolute;
}
#nav-open span:before {
  bottom: 8px;
}
#nav-open span:after {
  top: 8px;
}
#nav-check:checked ~ #nav-open span {
  background: rgba(255, 255, 255, 0);
}
#nav-check:checked ~ #nav-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#nav-check:checked ~ #nav-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
.nav__content {
  width: 30%;
  height: 86vh;
  position: fixed;
  top: 8vh;
  left: 100%;
  z-index: 99;
  background: #f8fafc;
  transition: .5s;
}
#nav-check:checked ~ .nav__content {
  left: 70%;
}
main {
  position: relative;
  overflow: scroll;
  height: 100vh;
}

.main__container {
  margin-top: 18px;
  height: 86vh;
  display: flex;
  justify-content: center;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4169E1;
  ;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #f8fafc;
}

/* list部分 */
.issue__list {
  margin: 0 auto;
  width: 95%;
  height: auto;
  text-align: center;
  font-size: 15px;
  table-layout: fixed;
}
.issue__list th {
  padding: 20px;
  font-weight: bold;
  background-color: #CCCCCC;
  color: #444444;
}
.issue__list td {
  padding: 10px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.width__goal, .width__now, .width__why, .width__action{
  width: 18%;
}
.width__deadline, .width__edit, .width__delete{
  width: 10%;
}
.list__goal, .list__now, .list__why, .list__action {
  text-align: left;
}
.btn__edit {
  background-color: #3490dc;
  color: #f8fafc;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 20px;
  border-radius: 4px;
  border: 1px solid #3490dc;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  box-shadow: 1px 1px 3px gray;
}
.btn__delete {
  background-color: #cccccc;
  color: #444444;
  font-size: 14px;
  font-weight: bold;
  min-height: 37px;
  padding: 1px 20px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  box-shadow: 1px 1px 3px gray;
}
/* detail部分 */
.detail__list {
  position: absolute;
    left: 250px;
    top: 30px;
}
h2 {
  font-weight: bold;
  color: #444444;
  font-size: 40px;
  padding-bottom: 10px;
}
.date {
  color: #CCCCCC;
}
.detail__content {
  padding-top: 30px;
  font-size: 20px;
  color: #444444;
}
/* フォーム部分 */
h3 {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #444444;
}
.required-tag {
  margin-left: 8px;
  font-size: 12px;
  padding: 0 4px;
  color: #f8fafc;
  background-color: #ff0021;
  border-radius: 2px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4em;
}
.form__group {
  height: auto;
  padding: 2.5vh;
  margin-left: 13%;
}
input {
  margin-top: 5px;
}
.form__control {
  display: block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 48px;
  padding: 0px 16px;
  width: 80%;
}
.btn {
  margin-top: 22px;
  text-align: center;
}
.btn__cancel {
  margin-right: 20px;
  background-color: #cccccc;
  color: #444444;
  font-size: 14px;
  font-weight: bold;
  min-height: 48px;
  padding: 10px 24px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 1px 1px 3px gray;
}
.btn__submit {
  margin-left: 20px;
  background-color: #3490dc;
  color: #f8fafc;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 28px;
  border-radius: 4px;
  border: 1px solid #3490dc;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  box-shadow: 1px 1px 3px gray;
}
/* エラ〜メッセージ */
.text-danger {
  color: #ff0021;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 5px;
}