header {
  background-color: #444444;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #f8fafc;
}
a {
  text-decoration: none;
  color: #f8fafc;
  font-size: 15px;
}
.show__link {
  color: #3490dc;
}
.header__links {
  list-style: none;
  display: flex;
}
.header__link {
  margin-left: 30px;
}
.main__container {
  margin-top: 15px;
  height: 86vh;
}
.issue__list {
  margin: 0 auto;
  width: 96%;
  text-align: center;
  font-size: 15px;
}
.issue__list th {
  padding: 20px;
  font-weight: bold;
  background-color: #CCCCCC;
  color: #444444;
}
.issue__list td {
  padding: 15px;
}

footer {
  background-color: #444444;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #f8fafc;
}

main {
  position: relative;
}
.detail__list {
  position: absolute;
    left: 250px;
    top: 30px;
}
h2 {
  font-weight: bold;
  color: #444444;
  font-size: 40px;
  padding-bottom: 10px;
}
.date {
  color: #CCCCCC;
}
.detail__content {
  padding-top: 30px;
  font-size: 20px;
  color: #444444;
}

.text-danger {
  color: red;
  padding-left: 20px;
  padding-bottom: 5px;
}